<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>login</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'main/login.css' %}">
</head>
<body>
  <div class="center-content">
    <p class="login-title">Welcome to index.life : )</p>
    <form method="post" class="login-form">
      {% csrf_token %}
      {% if form.errors %}
        <div class="login-errors">
          {% for field in form %}
            {% for error in field.errors %}
              <div>{{ error }}</div>
            {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
            <div>{{ error }}</div>
          {% endfor %}
        </div>
      {% endif %}
      <input type="text" name="username" placeholder="login" class="login-input" value="{{ form.login.value|default_if_none:'' }}">
      <input type="password" name="password" placeholder="password" class="login-input">
      <button type="submit" class="login-btn">log in</button>
    </form>
    <div class="login-register">
      No account? Go <a href="{% url 'register' %}">reg</a>
    </div>
  </div>
  <footer class="main-footer">Copyright 2025 Émile Alexanyan</footer>
</body>
</html>
