<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}

  <!-- Основные favicon -->
  <link rel="icon" type="image/x-icon" href="{% static '/images/favicon.ico' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static '/images/favicon-16x16.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static '/images/favicon-32x32.png' %}">

  <!-- iOS Safari (для добавления на рабочий стол iPhone) -->
  <link rel="apple-touch-icon" sizes="180x180" href="{% static '/images/apple-touch-icon.png' %}">

  <!-- Android Chrome -->
  <link rel="icon" type="image/png" sizes="192x192" href="{% static '/images/android-chrome-192x192.png' %}">
  <link rel="icon" type="image/png" sizes="512x512" href="{% static '/images/android-chrome-512x512.png' %}">

  <!-- Web App Manifest (для PWA функций) -->
  <link rel="manifest" href="{% static '/images/site.webmanifest' %}">

  <link rel="stylesheet" href="{% static 'main/login.css' %}">
</head>
<body>
  <div class="center-content">
    <p class="login-title">Welcome to index.life : )</p>
    <form method="post" class="login-form">
      {% csrf_token %}
      {% if form.errors %}
        <div class="login-errors">
          {% for field in form %}
            {% for error in field.errors %}
              <div>{{ error }}</div>
            {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
            <div>{{ error }}</div>
          {% endfor %}
        </div>
      {% endif %}
      <input type="text" name="username" placeholder="login" class="login-input" value="{{ form.login.value|default_if_none:'' }}">
      <input type="password" name="password" placeholder="password" class="login-input">
      <button type="submit" class="login-btn">log in</button>
    </form>
    <div class="login-register">
      No account? Go <a href="{% url 'register' %}">reg</a>
    </div>
  </div>
  <footer class="main-footer">Copyright 2025 Émile Alexanyan</footer>
</body>
</html>
